@model IEnumerable<BuildingManagementSystem.ConsumeApi.Models.BuildingViewModels.BuildingVM>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Bina Listesi</h4>
            <span><a asp-controller="Building" asp-action="AddBuilding"  class="btn btn-round btn-primary">Ekle</a></span>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class=" text-primary">
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Properties)
                    </th>
                    <th >
                        Güncelle
                    </th>
                    <th >
                        Sil
                    </th>
                    <th >
                        Oda Ekle
                    </th>
                    <th >
                        Depo Ekle
                    </th>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
   
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Properties)
                            </td>
                            <td >
                                <a asp-controller="Building" asp-action="UpdateBuilding" asp-route-id="@item.BuildingID" class="btn btn-round btn-primary">Güncelle</a>
                            </td>
                            <td >
                                <a asp-controller="Building" asp-action="DeleteBuilding" asp-route-id="@item.BuildingID" class="btn btn-round btn-default">Sil</a>
                            </td>
                            <td>
                                <a asp-controller="Room" asp-action="AddRoom" asp-route-id="@item.BuildingID" class="btn btn-round btn-primary">Oda Ekle</a>
                            </td>
                            <td>
                                <a asp-controller="Storage" asp-action="AddStorage" asp-route-id="@item.BuildingID" class="btn btn-round btn-primary">Depo Ekle</a>
                            </td>
                        </tr>}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>